@charset "utf-8";

body{
    width: 100%;
    background-color: #fff;
}

.container{
    display: grid;
    max-width: 550px;
    width: 55%;
    margin: 0 auto;
    gap: 30px;
}

header{
    height: 25px;
    text-align: center;
    color: #fff;
    background-color: #3fc;
    padding-top: 10px;
}

figure{
    background-image: url(/traning1/images/mejiro.jpg);
    margin-bottom: 30px;
    width: 100%;
    height: 0;
    padding-bottom: 66.72%;
    background-size: cover;
    margin-bottom: 30px;
}

.comment{
    line-height: 1.3em;
}

.comment h3{
    margin-bottom: 10px;
}